<!DOCTYPE html>
<html>
  <head>
    <link rel ="stylesheet" href="style.css"/>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Hi</p>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>add more...</li>
    </ul>
  </body>
</html>